{{! HOME PAGE }}
<main>
  <div class='introduction'>
    <div class='introduction-bg'>
      <p>we connect the best professional artists</p>
      <h1 class='heading-index'>with the best customers<span class='dot'>.</span></h1>
      <a class='btn-white' href='/projects/explore'>Explore</a>
      {{#if user}}
        <a class='btn-gradient' href='/users/profile'>My Profile</a>
      {{else}}
        <a class='btn-gradient' href='/auth/register'>Register</a>
      {{/if}}
    </div>
  </div>

  <section>
    <h1 class='heading-explore'>artists<span class='dot'>.</span></h1>
    <div class='artists'>
      {{#each user}}
        <div class='card'>
          <h5 class='card-title'>{{this.fullName}}</h5>
          <img src='{{this.image}}' alt='' />
          <h6 class='card-title'>{{this.profession}}</h6>

          <div class='dot'>
            <a href='/users/{{id}}'>see details</a>
            <img class='icon' src='/images/arrow.svg' alt='arrow icon' />
          </div>
        </div>
      {{/each}}
    </div>
  </section>

  <section>
    <h1 class='heading-2'>projects<span class='dot'>.</span></h1>
    <div class='projects'>
      {{#each projects}}
        <div class='card'>
          <h5 class='card-title'>{{this.category}}</h5>
          <img src='{{this.image}}' alt='' />
          <h6 class='card-title'>{{this.title}}</h6>

          <div class='dot'>
            <a href='/projects/{{id}}'>see details</a>
            <img class='icon' src='/images/arrow.svg' alt='arrow icon' />
          </div>

          <a class='dot favorites' href='/'>
            <img src='/images/star-outline-green.svg' alt='favorite' />
          </a>
        </div>
      {{/each}}
    </div>
  </section>

</main>