<div id='project-details'>
  <h1 class='heading-2'>project details <span class='dot'>.</span></h1>

  <div class='project-detail'>
    <div class='project-img'>
      <img src='{{image}}' alt='uploaded-image' />

      {{#if isProjectOwner}}
        <div class='actions'>
          <a href='/projects/{{_id}}/edit'><button
              class='btn-line'
              type='submit'
            >edit project</button></a>

          <a href='/projects/{{_id}}/delete'><button
              class='btn-gradient'
              type='submit'
            >delete project</button></a>
        </div>
      {{/if}}
    </div>

    <div class='project-info'>
      <p>{{this.profession}}</p>
      <p>{{this.title}}</p>
      <p>{{this.category}}</p>
      <hr>
      <h3>Artist: {{this.owner.fullName}}</h3>
      <div>{{this.description}}</div>

      {{#each skills}}
        <li>{{this}}</li>
      {{/each}}
      
      <button><a href="/send-email">contact</a></button>

      <form action='/users/projects/favorites/{{_id}}' method='POST'>
        <button class='dot favorites'>
          <img src='/images/star-outline-green.svg' alt='favorite' />
          My Favorite
        </button>
      </form>
    </div>
  </div>

    <div class="comment-detail">
      <h3>All comments:</h3>
      <hr>
      {{#each comments}}
        <h4>{{this}}</h4>
      {{/each}}

      <form action='/projects/{{_id}}/comments' method='post'>
        <label>Leave your comment:
          <textarea
            rows='5'
            cols='40'
            name='comment'
            placeholder='leave your comment..'
          ></textarea>
        </label>
        <button class='btn-gradient' type='submit'>post a comment</button>
    </div>

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>