<div id='project-details'>
  <h1 class='heading-2'>project details <span class='dot'>.</span></h1>

  <div class='project-detail'>
    <div class='project-img'>
      <img src='{{image}}' alt='uploaded-image' />

      {{#if isProjectOwner}}
        <div class='actions'>
          <a href='/projects/{{_id}}/edit'><button
              class='btn-line'
              type='submit'
            >edit project</button></a>

          <a href='/projects/{{_id}}/delete'><button
              class='btn-gradient'
              type='submit'
            >delete project</button></a>
        </div>
      {{/if}}
    </div>

    <div class='project-info'>
      <h2>{{this.title}}</h2>
      <h4>{{this.category}}</h4>
      <hr>
      <h3>Artist: {{this.owner.fullName}}</h3>
      <div>{{this.description}}</div>

      {{#each skills}}
        <li>{{this}}</li>
      {{/each}}
      
      {{#if isProjectOwner}}
      {{else}}
      <button class="btn-gradient"><a href="/send-email">contact</a></button>
      {{/if}}

        <button
        class='dot favorites'
        onclick='toggleFavorite(event)'
        data-id='{{_id}}'
      >
        {{#if this.isMyFavorite}}
          <img src='/images/star-green.svg' alt='favorite' />
        {{else}}
          <img src='/images/star-outline-green.svg' alt='favorite' />
        {{/if}}
        Favorite
      </button>
    </div>

  </div>

    <div class="comment-detail">
      <h5>All comments:</h5>
      <hr>
      {{#each comments}}
        <h6>{{this}}</h6>
      {{/each}}

      <form action='/projects/{{_id}}/comments' method='post'>
        <label>Leave your comment:
          <textarea
            rows='5'
            cols='40'
            name='comment'
            placeholder='leave your comment..'
          ></textarea>
        </label>
        <button class='btn-gradient' type='submit'>post a comment</button>
    </div>

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<script src='/js/toggle-favorite.js'></script>