<h1 class='heading-2'>explore projects<span class='dot'>.</span></h1>

<label class='filter'>
  <span>Filter by:</span>
  <select class='custom-select' id='filter' onchange='onSelectChange(event)'>
    <option selected>Select a category</option>
    {{#each allCategories}}
      <option value='{{this}}'>{{this}}</option>
    {{/each}}
  </select>
</label>

<div class='projects'>

  {{#each projects}}
    <div class='card'>
      <img class='card-img' src='{{this.image}}' alt='' />
      <h5 class='card-title'>{{this.title}}</h5>
      <p class='card-subtitle'>{{this.category}}</p>

      <div class='dot see-details'>
        <a href='/projects/{{_id}}'>see details</a>
        <img class='icon' src='/images/arrow.svg' alt='arrow icon' />
      </div>

      <button
        class='dot favorites'
        onclick='toggleFavorite(event)'
        data-id='{{_id}}'
      >
        {{#if this.isMyFavorite}}
          <img src='/images/star-green.svg' alt='favorite' />
        {{else}}
          <img src='/images/star-outline-green.svg' alt='favorite' />
        {{/if}}
      </button>

    </div>
  {{/each}}

</div>

<script src='/js/filter-page.js'></script>
<script src='/js/toggle-favorite.js'></script>