<h1>project details</h1>

<div class='project-detail'>
  <div class='project-img'>
    <img src='{{image}}' alt='uploaded-image' />

    <div>
      <a href='/project/{{id}}/edit'><button class='btn-line' type='submit'>edit
          project</button></a>

      <a href='/project/{{id}}/delete'><button
          class='btn-gradient'
          type='submit'
        >delete project</button></a>
    </div>
  </div>

  <div class='project-info'>
    <p>{{profession}}</p>
    <p>{{category}}</p>
    <h3>name:{{this.fullName}}</h3>
    <div>{{description}}</div>

    {{#each skills}}
      <li>{{this}}</li>
    {{/each}}

    <div>Contact: email | phone</div>

    <a class='dot favorites' href='/'>
      <img src='/images/star-outline-green.svg' alt='favorite' />
      My Favorite
    </a>

  </div>

</div>