<h1 class='heading-2'>explore projects<span class='dot'>.</span></h1>

<label class='filter'>
  Filter by:
  <select class='custom-select' id='filter' onchange='onSelectChange(event)'>
    {{#each projects}}
      <option value='{{this.category}}'>{{this.category}}</option>
    {{/each}}
  </select>
</label>

<div class='projects'>

  {{#each projects}}
    <div class='card'>
      <h5 class='card-title'>{{this.category}}</h5>
      <img src='{{this.image}}' alt='' />
      <h6 class='card-title'>{{this.title}}</h6>

      <div class='dot see-details'>
        <a href='/projects/{{id}}'>see details</a>
        <img class='icon' src='/images/arrow.svg' alt='arrow icon' />
      </div>

      <a class='dot favorites' href='/'>
        <img src='/images/star-outline-green.svg' alt='favorite' />
      </a>

    </div>
  {{/each}}

</div>

<script src='/js/filter-page.js'></script>