<h1 class='heading-1'>welcome {{fullName}} <span class='dot'>.</span></h1>
<div class='form'>
  <div>
  <label>{{fullName}}</label>
  <label>{{skills}}</label>
  <label>{{location}}</label>
  </div>

  <div>
    <a href='/create-project' ><button class='btn-line' type='submit'>create project</button></a>
    <a href='/edit-profile' ><button class='btn-gradient' type='submit'>edit profile</button></a>
  </div>
  <h2>my projects</h2>
</div>

  {{#if errorMessage}}
    <p class='error'>{{errorMessage}}</p>
  {{/if}}
</div>