<h1 class='heading-1'>welcome {{user.fullName}} <span class='dot'>.</span></h1>
{{!-- <div class='form'> --}}
<div>
  <div>
    <label>Name: {{user.fullName}}</label>
    <label>E-mail: {{user.email}}</label>
    <label>Location: {{location}}</label>
    <label>Profession: {{profession}}</label>
  </div>

  <div>
    <a href='/projects/create' ><button class='btn-line' type='submit'>create project</button></a>
    <a href='/users/edit' ><button class='btn-gradient' type='submit'>edit profile</button></a>
  </div>

  <h2>my projects<span class='dot'>.</span></h2>

   {{#each projects}}
    <div class='card'>
      <h5 class='card-title'>{{this.category}}</h5>
      <img src='{{this.image}}' alt='' />
      <h6 class='card-title'>{{this.title}}</h6>

      <div class='dot'>
        <a href='/projects/{{id}}'>see details</a>
        <img class='icon' src='/images/arrow.svg' alt='arrow icon' />
      </div>

      <a class='dot favorites' href='/'>
        <img src='/images/star-outline-green.svg' alt='favorite' />
      </a>
    </div>
  {{/each}}

</div>

  {{#if errorMessage}}
    <p class='error'>{{errorMessage}}</p>
  {{/if}}
</div>